extends ../layouts/default

block main
  - var name = user.name ? user.name : user.username;

      h1= name

      - if (data)
            h3= 'API Limits'
            b= "Short term: "
            p= limits.shortTermUsage + " out of " + limits.shortTermLimit + " requests used (per 15 minutes)"
            div.progress
                div.progress-bar(role="progressbar" style="width: "+(limits.shortTermUsage/limits.shortTermLimit)+"%;" aria-valuenow=limits.shortTermUsage aria-valuemin="0" aria-valuemax=limits.shortTermLimit)
            b= "Long term: "
            p= limits.longTermUsage + " out of " + limits.longTermLimit + " requests used (per day)"
            div.progress
                div.progress-bar(role="progressbar" style="width: " + (limits.longTermUsage/limits.longTermLimit) + "%;" aria-valuenow=limits.longTermUsage aria-valuemin="0" aria-valuemax=limits.longTermLimit)

            h3= 'Registered Users'
            div
                table
                    thead
                        tr: th Username
                            th Name
                            th E-Mail
                            th Provider
                            th Role
                            th Registered
                            th Last Login

                    tbody
                        each su in all
                            tr
                                td
                                    a(href='/users/' + su._id) #{su.username}
                                td
                                    p= su.name
                                td
                                    p= su.email
                                td
                                    p= su.provider
                                td
                                    p= su.role.name
                                td
                                    p= su.createdAt.toString().substring(0, 24)
                                td
                                    p= su.lastLogin.toString().substring(0, 24)


            h3= 'Routes'
            div
                table
                    thead
                        tr: th Title
                            th Location
                            th User
                            th Created
                            th GPS Points
                            th Distance
                    tbody
                        each route in routes
                            tr
                                td
                                    a(href='/routes/' + route._id) #{route.title}
                                td
                                    p= route.location
                                td
                                    p= route.user.username
                                td
                                    p= route.createdAt.toString().substring(0, 24)
                                td
                                    p= route.geo.length
                                td
                                    p= (route.distance.toString().split('.', 1))/1000 + ' km'
      if (!data)
          h3= 'Map Config:'
          p= JSON.stringify(map.config)
          p= JSON.stringify(map.heatmapConfig)
          p= JSON.stringify(map.heatmapData)

          div(id='map')
          script.
              window.onload = function () {
                  var baseLayer = L.tileLayer(
                      'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                          attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>',
                          maxZoom: 10
                      }
                  );
                  var heatmapLayer = new HeatmapOverlay(!{JSON.stringify(map.heatmapConfig)});
                  var map = new L.Map('map', {
                      center: new L.LatLng(!{map.config.center[0]},!{map.config.center[1]}),
                      zoom: !{map.config.zoom},
                      layers: [baseLayer, heatmapLayer],
                      scrollWheelZoom: !{map.config.scrollWheelZoom}
                  });
                  heatmapLayer.setData(!{JSON.stringify(map.heatmapData)});
                  layer = heatmapLayer;
              };

          p= userData
          a.btn.btn-primary(href='/users/'+user._id+'/update', title="update") Update Profile
            | &nbsp;
