extends ../layouts/default

block main
  h1= article.title

block content
  h3= 'Map Config:'
  p= JSON.stringify(map.config)
  p= JSON.stringify(map.maskConfig)
  p= JSON.stringify(map.heatmapData)
  p= JSON.stringify(map.marker)

    //iframe(style="position: relative; height: 200px; width: 1000px, border: none", scrolling='no', frameborder='no', src='/map')
  .row
    .col-md-6
        include ../includes/map.jade
    .col-md-6
      p=article.body
      .meta
        - if (article.user)
          p='Distance ' + (article.distance.toString().split('.', 1))/1000 + ' km'
          article.user.username
          - var name = article.user.name ? article.user.name : article.user.username
          p Athlete :&nbsp;
            a(href="/users/"+article.user._id)= name

        - if (article.tags)
          p Tags &nbsp;
            - each tag in article.tags.split(',')
              i.muted.fa.fa-tag &nbsp;
              a.tag(href="/tags/"+tag)= tag
              | &nbsp;&nbsp;

        p.muted= formatDate(article.createdAt, "%b %d, %Y at %I:%M %p")
        form(action="/routes/"+article.id, method="post", onsubmit="return confirm('Are you sure?')")
        input(type='hidden', name='_csrf', value="#{csrf_token}")
        a.btn.btn-default(href='/routes/'+article._id+'/edit', title="edit") Edit
        | &nbsp;
        input(type="hidden", name="_method", value="DELETE")
        button.btn.btn-danger(type="submit") Delete
        br
        h3 Comments
        - each comment in article.comments
          include ../comments/comment
        include ../comments/form