extends ../layouts/default
block content
  //h3= 'Map Config:'
  //p= JSON.stringify(map.config)
  //p= JSON.stringify(map.maskConfig)
  //p= JSON.stringify(map.heatmapData)
  //p= JSON.stringify(map.marker)
  //p= JSON.stringify(article.geo.length) + " coordinates in the route"

  .row
    .col-md-5.card.shadow
      h1(align="center")= article.title
      br
      p=article.body
      .meta
        p='Distance ' + (article.distance.toString().split('.', 1)) / 1000 + ' km'
        - if (article.user)
          article.user.username
          - var name = article.user.name ? article.user.name : article.user.username
          p Athlete :&nbsp;
            a(href="/users/"+article.user._id)= name

        - if (article.tags)
          p Tags &nbsp;
            - each tag in article.tags.split(',')
              i.muted.fa.fa-tag &nbsp;
              a.tag(href="/tags/"+tag)= tag
              | &nbsp;&nbsp;

        p.muted= formatDate(article.createdAt, "%b %d, %Y at %I:%M %p")
        form(action="/routes/"+article.id, method="post", onsubmit="return confirm('Are you sure?')")
          input(type='hidden', name='_csrf', value="#{csrf_token}")
          a.btn.btn-outline-secondary(href='/routes/'+article._id+'/edit', title="edit") Edit
          | &nbsp;
          a.btn.btn-outline-secondary(href='/routes/' + article._id + '/export/gpx', title="export") Export GPX
            | &nbsp;
          input(type="hidden", name="_method", value="DELETE")
          button.btn.btn-danger.float-right(type="submit") Delete
        br
        br
        h3 Comments
        - each comment in article.comments
          include ../comments/comment
        include ../comments/form
    .col-md-7
      div.map(id='map', style="width:100%; max-height: 550px; height:100%;")
        include ../includes/map.jade